<p> Aqui vemos el detalle de un destino de un viaje
    <br>
    {{destino.id}}
    <br>
    {{destino.name}}
</p>
<hr>
<mgl-map
    [style]="style"
    [zoom]="[2]"
    >
    <mgl-marker [lngLat]="[5.0701076,-75.5446642]">
        <div onclick="alert('hola')"
        class="marker">
            HOLA MUNDO!
        </div>
    </mgl-marker>
</mgl-map>
