<form
    [formGroup]="fg"
    (ngSubmit)="guardar(fg.controls['nombre'].value, fg.controls['url'].value)">
    <div class="form-group">
        <label for="nombre">Nombre</label>
        <input type="text" id="nombre" class="form-control" placeholder="Ingrese el nombre..." 
        [formControl]="fg.controls['nombre']">
        <ul>
            <li *ngFor="let r of searchResults;">{{r}}</li>
        </ul>
        <!-- Solo se muestra si el nombre es invalido-->
        <!--<div *ngIf="!fg.controls['nombre'].valid" style="color: crimson;"> Campo Vacio!</div>-->
        <div *ngIf="fg.controls['nombre'].hasError('required')" style="color: crimson;">Nombre Requerido!</div>
        <!-- Validaciones personalizadas con hasError('validacionPersonalizada')-->
        <div *ngIf="fg.controls['nombre'].hasError('invalidName')" style="color: crimson;">Nombre Invalido!</div>
        <div *ngIf="fg.controls['nombre'].hasError('minLongName')" style="color: rgb(126, 103, 108);"> El nombre debe tener {{minLong}} caracteres!</div>
        <label for="lugar">Lugar</label>
        <input type="text" id="lugar" class="form-control" placeholder="Ingrese el lugar..." 
        [formControl]="fg.controls['lugar']">
        <!-- con hasError('tipo de error'), validamos que tenga alguna error de validacion, por ejemplo un "required"-->
        <div *ngIf="fg.controls['lugar'].hasError('required')" style="color: crimson;">Lugar Requerido!</div>
    </div>
    <div class="form-group">
        <label for="Imagen Url"> Imagen Url</label>
        <input type="text" class="form-control" id="ImagenUrl" placeholder="Ingresar Url..."
        [formControl]="fg.controls['url']">
    </div>
    <!-- Solo se muestra si el nombre es valido, para nuestro caso, que no este vacio-->
    <button type="submit" class="btn btn-primary" *ngIf="fg.valid">Guardar</button>
</form>
